{% extends 'base/base.html' %}

{% block title %}Busca de Documentos{% endblock %}

{% block content %}
<h1>Busca de Documentos</h1>

<form method="GET" class="d-flex flex-wrap flex-md-nowrap mb-4 gap-2">
  <input type="text" name="q" id="query" class="form-control" placeholder="Digite o termo de busca..." value="{{ query }}">
  
  <select name="ordenacao" id="ordenacao" class="form-select">
    <option value="titulo" {% if ordenacao == "titulo" %}selected{% endif %}>Título</option>
    <option value="data_publicacao" {% if ordenacao == "data_publicacao" %}selected{% endif %}>Data de Publicação</option>
  </select>

  <button type="submit" class="btn btn-primary">Buscar</button>
</form>


<ul class="list-group mb-4">
  {% for documento in page_obj %}
    <li class="list-group-item">
      <a href="{% url 'visualizar_documento' documento.id %}">
        <strong>{{ documento.titulo }}</strong> - {{ documento.autores }} ({{ documento.data_publicacao }})
      </a>

      <!-- Resumo do documento -->
      <p>
        <em class="resume_text">{{ documento.resumo }}</em> <!-- O resumo será formatado com os novos estilos -->
      </p>

      <!-- Palavras-chave -->
      <p><strong>Palavras-chave:</strong> 
        {% if documento.palavras_chave %}
        <span class="badge bg-secondary">{{ documento.palavras_chave }}</span>
    {% else %}
      <span class="badge bg-light text-dark">Nenhuma palavra-chave</span>
    {% endif %}
      </p>
    </li>
  {% empty %}
    <li class="list-group-item">Nenhum documento encontrado.</li>
  {% endfor %}
</ul>

<div class="d-flex justify-content-between align-items-center">
  <a href="{% url 'index' %}" class="btn btn-success">Adicionar Documento</a>
  <a href="{% url 'registros_auditoria' %}" class="btn btn-info">Registros de Auditoria</a>
</div>

<div class="d-flex justify-content-between align-items-center" style="margin-top: 10px;">
  <a href="{% url 'relatorio_geral' %}" class="btn btn-info" style="margin-left: auto;">Relatório</a>
</div>


<div class="pagination mt-4">
  <nav>
    <ul class="pagination justify-content-center">
      {% if page_obj.has_previous %}
        <li class="page-item">
          <a class="page-link" href="?q={{ query }}&page={{ page_obj.previous_page_number }}&ordenacao={{ ordenacao }}">Anterior</a>
        </li>
      {% endif %}
      <li class="page-item disabled">
        <span class="page-link">Página {{ page_obj.number }} de {{ page_obj.paginator.num_pages }}</span>
      </li>
      {% if page_obj.has_next %}
        <li class="page-item">
          <a class="page-link" href="?q={{ query }}&page={{ page_obj.next_page_number }}&ordenacao={{ ordenacao }}">Próxima</a>
        </li>
      {% endif %}
    </ul>
  </nav>
</div>
{% endblock %}